
/* FULL BOOTSTRAP SUPPORT ~147K */
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.container{
	width: 100%; 
	padding: 0;
}

.headerImg{
	background-image: url("../img/millenialsheader.jpg") 100%;
}

#colTitle{
	height: 300px;
}

#rightCol{
	padding: 0;
}

#midCol{
	padding-top: 300px;

}

.infoSpacer{
	height: 200px;
}

section{
	height: 1000px;
	text-align: center;
}
#section-1{
	background-color: blue;
}

#section-2{
	background-color: cyan;
}

#section-3{
	background-color: olive;
}

#section-4{
	background-color: grey;
}

.move{

	padding: 30px;
	border: 1px black solid;
	border-radius: 5px;
	margin-left: 50px;
}

.menu{
	list-style-type: none; 
	padding: 0;
	
}

#menuPin{
	top: 250px !important;
	z-index: 1;
}

.active {
		background-color: #307FB5;
	}

	.col-fixed{
		width: 200px;
		position: fixed;
		height: 100%;

	}

	.col-offset-200{
		padding-left: 300px;
		z-index: -100;
	}




/* PARTIAL BOOTSTRAP SUPPORT ~34K */
/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";*/
