
/* FULL BOOTSTRAP SUPPORT ~147K */
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.container{
	width: 100%; 
}

section{
	height: 500px;
}
#section-1{
	background-color: red;
}

#section-2{
	background-color: cyan;
}

#section-3{
	background-color: olive;
}



.active {
		background-color: #307FB5;
	}




/* PARTIAL BOOTSTRAP SUPPORT ~34K */
/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";*/
